@using Control.Web.Data.Entities
@model dynamic
@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" />

<h2>DATE Analysis</h2>
<hr />
<section>
    <div id="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Analisys Report</h3>
            </div>
            <div class="panel-body" id="">
                <table class="table table-hover table-responsive table-striped" id="Products">
                    <thead>
                        <tr>
                            <th>
                                Flight:
                            </th>
                            <th>
                                Adult:
                            </th>
                            <th>
                                Child:
                            </th>
                            <th>
                                Infant:
                            </th>
                            <th>
                                Total:
                            </th>
                            <th>
                                User:
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KiuPassanger item in Model.Calculate)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Flight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adult)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Child)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Infant)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="contenedor">
        <div id="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">KIU Report</h3>
                </div>
                <div class="panel-body" id="lateral">
                    <table class="table table-hover table-responsive table-striped" id="ProductsTable">
                        <thead>
                            <tr>
                                <th>
                                    Flight:
                                </th>
                                <th>
                                    Adult:
                                </th>
                                <th>
                                    Child:
                                </th>
                                <th>
                                    Infant:
                                </th>
                                <th>
                                    Total:
                                </th>
                            


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KiuPassanger item in Model.KiuReporte)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Flight)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adult)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Child)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Infant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">TCP Report</h3>
                </div>
                <div class="panel-body" id="principal">
                    <table class="table table-hover table-responsive table-striped" id="ProductTable">
                        <thead>
                            <tr>
                                <th>
                                    Flight:
                                </th>
                                <th>
                                    Adult:
                                </th>
                                <th>
                                    Child:
                                </th>
                                <th>
                                    Infant:
                                </th>
                                <th>
                                    Total:
                                </th>
                               

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Passanger item in Model.TcpReporte)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Flight)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adult)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Child)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Infant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ProductsTable').DataTable();
            $('#ProductTable').DataTable();
             $('#Products').DataTable();
        });
    </script>
}