@model Control.Web.Data.Entities.Passanger

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Vuelo</h2>

<h3>¿Esta seguro que desea eliminar este reporte?</h3>
<div>
    <h4>Reporte del Vuelo:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Child)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Child)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Infant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Infant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index"class="btn btn-success">Back to List</a>
    </form>
</div>
