@model Control.Web.Data.Entities.Passanger

@{
    ViewData["Title"] = "Details";
}
    <br />
<h4>Detalles del Vuelo</h4>

<div>
    <h6>Datos Registrados:</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Child)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Child)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Infant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Infant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <br />
                <img src="@Url.Content(Model.ImageUrl)" onerror="this.onerror=null; this.src='/images/no-img.jpg'" alt="Image" style="width:600px;height:850px;max-width: 100%; height: auto;" />
            }
            else
            {
                <br />
                <img src="~/images/no-img.jpg" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
            }
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mr-2">
        <i class="fa fa-edit"></i>
        Edit
    </a> 
    <a asp-action="Index"class="btn btn-success">
    <i class="fa fa-chevron-left"></i> 
        Back to List
    </a>
</div>
