@model IEnumerable<Control.Web.Data.Entities.Passanger>

@{
    ViewData["Title"] = "Index";
}

<h2>Reporte TCP Conteo Pasajeros </h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Reporte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Infant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Child)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Infant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishOn)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:75px;height:75px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn"> <i class="fas fa-edit"></i> </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn"><i class="fas fa-info-circle"></i> </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><i class="fas fa-trash"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
