@model IEnumerable<Control.Web.Data.Entities.Passanger>

@{
    ViewData["Title"] = "Index";
}

<h2>Reporte TCP Conteo Pasajeros </h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nuevo Reporte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Infant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Child)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Infant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PassangerId"class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.PassangerId"class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.PassangerId"class="btn btn-warning">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
